/* Sayfa Genel */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    #00b4d8,
    #0077b6
  ); /* Güzel bir gradient arka plan */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

select,
button {
  background: #0077b6;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

select:hover,
button:hover {
  background: #00b4d8;
}

button {
  margin-top: 20px;
  font-size: 1.1rem;
}

.weather-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.weather-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  width: 180px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.weather-card:hover {
  transform: translateY(-10px); /* Hover efekti */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.weather-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.weather-card img {
  width: 60px;
  height: 60px;
}

.weather-card p {
  margin: 5px 0;
}

.selected {
  border: 2px solid #ff6347;
  background: rgba(255, 255, 255, 0.4);
}

.select-city {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Dropdown */
select {
  background-color: #1e3a8a;
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
.weather-card.today {
  background-color: #021e2c !important;
  color: white;
}

.weather-card.today h3 {
  color: white;
}
